
.trade-icon-rp{
    object-fit: contain;
    height: 10vh;
    width: 10vw;
    display: block;
    margin: auto;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.reset-password-form-container{
    padding-top: 60px;
}

.reset-password-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
  }
  
  .reset-password-form form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-form label {
    margin-bottom: 8px;
  }
  
  .reset-password-form input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .reset-password-form button {
    padding: 10px;
    background-color: rgb(86, 86, 185);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* .reset-password-form button:hover {
    background-color: rgb(86, 86, 185);
  } */
  