body{
    padding: 0px;
    margin: 0px; 
}

/* .custom-dropdown-toggle::after {
  display: none !important;
} */

.dropdown-toggle::after{
  /* display: none; */
}

.dropdown-toggle:empty::after{
  display: none;
}
  
.intro-head-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.intro-head{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 535;
}

.intro-description{
   padding-top: 20px;
    text-align:center;
    width:50vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.trading-img-banner{
    padding-top: 50px;
    height: 70vh;
    width: 70vw;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-banner-description{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-top: 57px;
    padding-right: 30px; 
    padding-left: 30px;
    line-height: 30px;
}

.home-img-2{
    margin-left: 85px; 
    border-radius: 10px;
    width: 40vw;
    height: 55vh;
    margin-top: 15px;
}

.home-img-2-description{
    float: right;
    width: 40vw;
    padding-top: 50px;
    line-height: 37px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-style: italic; */
    margin-right: 94px;
}

.home-img-3{
    padding-top: 30px;
    margin-right: 120px;
    border-radius: 10px;
    width: 35vw;
    height: 45vh;
    float: right;
}

.list-container{
    padding-top: 38px;
    margin-left: 75px;
}

.list-input{
    list-style-type: disc;
    width: 35vw;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}