
.footer {
    width: 100%;
    background-color:black;
    color: #fff;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1 1 25%;
    padding: 20px;
  }
  
  .section-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .section-divider {
    border: 0;
    height: 2px;
    background-color: white;
    margin: 10px 0;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer-link:hover {
    color: palevioletred;
  }
  
  .footer-text {
    text-align: center;
    margin-top: 30px;
    color: #777;
    font-size: 14px;
  }
  
  @media (max-width: 865px) {
    .footer-container {
        flex-direction: column;
        position: absolute;
        top: 2700%;
        left: 0;
        right: 0;
        background-color: #f2f2f2;
    }
  
    .footer-section {
      margin-bottom: 20px;
    } 
  
    .footer-text{
      position: absolute;
      top: 1050px;
      left: 80px;
    }
  
    .footer{
      position: absolute;
      top: 4250px;
    }
  } 