.heading{
    display: flex;
}

.nav-container{
    display: flex;
    width: 18vw;
    justify-content: space-between;
    margin-top: -45px;
    float: right;
    margin-right: 130px;
}

.nav-login-name{
    float: right;
    margin-right: 50px;
    margin-top: -45px;
}